<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <input type="text" class="form-control form-control-lg" [(ngModel)]="nameTask" (keyup.enter)="addTask()"
        placeholder="Ingrese tarea">
    </div>
    <div class="col-lg-6 offset-lg-3 mt-3">
      <div class="card p-3" *ngIf="listTask.length < 1">
        <h6>No hay tareas para mostrar</h6>
      </div>
      <ul *ngIf="listTask.length > 0" class="list-group">
        <li *ngFor="let tarea of listTask; let i = index" class="list-group-item d-flex justify-content-between">
          <span class="cursor" (click)="uploadTask(tarea,i)"><i class="fa fa-circle"
              [ngClass]="tarea.estado === false ? 'text-danger' : 'text-success'" aria-hidden="true"></i></span>
          {{tarea.nombre}}
          <span class="cursor" (click)="deleteTask(i)"><i class="fa fa-trash text-danger" aria-hidden="true"></i></span>
        </li>
      </ul>
    </div>
  </div>
</div>